---

- name: Ensure lsb-release requirement is installed
  become: yes
  apt:
    name: lsb-release
  notify:
    - re-gather facts

- meta: flush_handlers

# temporary workaround for 'apt' module bug
# https://github.com/ansible/ansible/issues/21547
- name: "Force re-gather facts (workaround for #108)"
  setup:
  tags:
    - w108

- name: Ensure torproject gpg key is installed (A3C4F0F979CAA22CDBA8F512EE8CBC9E886DDD89)
  become: yes
  apt_key:
    data: "{{ lookup('file', 'deb.torproject.org_A3C4F0F979CAA22CDBA8F512EE8CBC9E886DDD89.pub') }}"
    id: A3C4F0F979CAA22CDBA8F512EE8CBC9E886DDD89
    state: present

- name: Ensure torproject.org repository is present (APT)
  become: yes
  apt_repository:
    repo: 'deb http://deb.torproject.org/torproject.org {{ tor_distribution_release }} main'
    state: present
    update_cache: yes

- name: Ensure torproject.org alpha repo is present if enabled (APT)
  become: yes
  apt_repository:
    repo: 'deb http://deb.torproject.org/torproject.org tor-experimental-{{ tor_alpha_version }}.x-{{ tor_distribution_release }} main'
    state: present
    update_cache: yes
  when: tor_alpha == True

# Background:
# https://github.com/nusenu/ansible-relayor/issues/72
- name: Ensure systemd generator folder exists (Debian/Ubuntu except Debian 8)
  become: yes
  file:
    path: /etc/systemd/system-generators
    state: directory
    mode: 0755
  when: ansible_lsb.codename != 'jessie'

- name: Ensure custom systemd generator is in place (Debian/Ubuntu only)
  become: yes
  copy:
    src: tor-generator
    dest: "{{ (ansible_lsb.codename == 'jessie')|ternary('/lib/systemd/system-generators/relayor-generator', '/etc/systemd/system-generators/tor-generator') }}"
    owner: root
    mode: 0755

- name: Ensure the maintainer's generator is disabled (Debian 8 only)
  become: yes
  command: dpkg-statoverride --update --add root root 644 /lib/systemd/system-generators/tor-generator
  when: ansible_lsb.codename == 'jessie'
  ignore_errors: yes

#- name: Ensure AppArmor allows access to necessary files (Ubuntu)
#  become: yes
#  lineinfile: dest=/etc/apparmor.d/local/system_tor line={{ item }}
#  with_items:
#    - '/etc/tor/enabled/*\ r,'
#    - '/{,var/}run/tor/*.pid\ w,'
#    - '/var/lib/tor/**\ w,'
#  when: ansible_distribution == 'Ubuntu'
#  notify: restart apparmor

#- meta: flush_handlers
