---

- name: Setup Fedora specific variables (set_fact)
  set_fact:
    tor_user: toranon
    tor_ConfDir: /etc/tor

#- name: Add tor rpm key
#  become: yes
#  rpm_key: state=present key=https://deb.torproject.org/torproject.org/rpm/RPM-GPG-KEY-torproject.org.asc

#- set_fact: tor_rpm_distribution_os="el"
#  when: ansible_distribution == 'CentOS' or ansible_distribution == "Red Hat Enterprise Linux"

# we do not actually support Fedora
#- set_fact: tor_rpm_distribution_os="fc"
#  when: ansible_distribution == 'Fedora'

# the tor_alpha var is taken into account here (template)
#- name: Add torproject.org repository (YUM)
#  become: yes
#  template: src=torproject.yum.repo dest=/etc/yum.repos.d/torproject.repo owner=root group=root

# we specifically opt for present over latest to improve performance
# "latest" is covered by auto updates
- name: Ensure Tor package is installed (dnf)
  become: yes
  dnf: name=tor,libselinux-python,libsemanage-python state=present

# we need this for the seboolean ansible module to work
#- name: Ensure setsebool (SELinux) dependencies are installed (Fedora)
#  become: yes
#  dnf: name=libsemanage-python state=present
#  when: ansible_selinux.status == 'enabled'

#- name: Ensure the presence of the multi-instance systemd unit file (Fedora)
#  become: yes
#  copy: src=centos_tor@.service dest=/lib/systemd/system/tor@.service owner=root mode=0644 backup=yes setype=tor_unit_file_t
#  notify: systemctl daemon-reload

- name: Ensure SELinux boolean (tor_can_network_relay) is set appropriately (Fedora)
  become: yes
  seboolean: name=tor_can_network_relay state=yes persistent=yes
#  when: ansible_selinux.status == 'enabled'

- meta: flush_handlers
