---

# tor_intances defines the number and configurations of instances
# an instance is defined with the following fields:
# inst_name:configfile:username:groupname:pidfile:data_dir
# username/groupname is set to root to be able to bind to <1024 ports
# but privileges are dropped afterwards (torrc User parameter)
- name: Ensure Tor multi-instance configuration is present (FreeBSD)
  become: yes
  lineinfile:
    dest: /etc/rc.conf
    line: "tor_instances=\"${tor_instances} {{ item.0.ipv4 }}_{{ item.1.orport }}:{{ tor_ConfDir }}/{{ item.0.ipv4 }}_{{ item.1.orport }}.torrc:root:root:{{ tor_PidDir }}/{{ item.0.ipv4 }}_{{ item.1.orport }}/pid:{{ tor_DataDir }}/{{ item.0.ipv4 }}_{{ item.1.orport }}\""
    create: yes
  with_nested:
   - "{{ tor_ips }}"
   - "{{ tor_ports }}"

# this task is a workaround, because 'service tor status'
# fails if this line is not present (which in turn fails the ansible service module)
- name: Ensure tor is enabled in /etc/rc.conf (FreeBSD)
  become: yes
  lineinfile:
    dest: /etc/rc.conf
    line: "tor_enable=\"YES\""
    create: yes

- name: Ensure PidDir exists (FreeBSD)
  become: yes
  file:
    path: "{{ tor_PidDir }}"
    state: directory
    owner: root
    mode: 0755

- name: Ensure PidDir is owned by per-instance tor_user (FreeBSD)
  become: yes
  file:
    path: "{{ tor_PidDir }}/{{ item.0.ipv4 }}_{{ item.1.orport }}"
    state: directory
    owner: "_tor-{{ item.0.ipv4 }}_{{ item.1.orport }}"
    mode: 0700
  with_nested:
   - "{{ tor_ips }}"
   - "{{ tor_ports }}"

# this affects all instances
- name: Ensure Tor instances are running and enabled (FreeBSD)
  become: yes
  service:
    name: tor
    enabled: yes
    state: started
