---

# Linux/systemd section (uses service module)
# ===========================================

- name: Ensure systemd drop-in folder is present
  become: yes
  file: path=/etc/systemd/system/tor@.service.d
    state=directory
    owner=root
    mode=0755
  when: ansible_os_family == 'RedHat'

# this is needed for a small service file modification (allow it to write to /var/lib/tor-instances)
# # without replacing the maintainer's file, for details see
# # http://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
- name: Ensure service file drop-in is present
  become: yes
  copy: src=local.conf
   dest=/etc/systemd/system/tor@.service.d/local.conf
   owner=root
   mode=640
  when: ansible_os_family == 'RedHat'
  notify: systemctl daemon-reload

- meta: flush_handlers
 
- name: Ensure Tor instances are reloaded if its torrc changed (Linux/systemd)
  become: yes
  service: name=tor@{{ item.item.0.ipv4 }}_{{ item.item.1.orport }}.service state=reloaded
  with_items: instances.results
  when: item.changed == True
  tags:
   - reconfigure

- name: Ensure Tor instances are enabled and started (Linux/systemd)
  become: yes
  service: name=tor@{{ item.0.ipv4 }}_{{ item.1.orport }}.service enabled=yes state=started
  with_nested:
   - tor_ips
   - tor_ports
