---

- name: Check for vulnerable ansible version (CVE-2016-8614, CVE-2016-8628)
  assert:
    that:
      - "{{ ansible_version.full | version_compare('2.1.3.0', '>=') }}"
    msg: "VULNERABLE ansible version DETECTED, please update to v2.1.3 or newer! Exiting."
  run_once: true
  delegate_to: 127.0.0.1
  tags:
    - always

- name: Set OS specific variables
  include_vars: "os_{{ ansible_os_family }}.yml"
  tags:
   - always

- name: Use public IPv4 addresses only (when requested)
  include_vars: public_IPv4_only.yml
  when: tor_publicIPsOnly == True
  tags:
   - always

- include: ip-list.yml
  tags:
    - always

- include: apt_prepare.yml
  when: ansible_pkg_mgr == 'apt'
  tags:
   - debian
   - install

- include: rpm_prepare.yml
  when: ansible_os_family == 'RedHat'
  tags:
   - centos
   - fedora
   - install

- include: openbsd_prepare.yml
  when: ansible_system == 'OpenBSD'
  tags:
   - openbsd

- include: freebsd_prepare.yml
  when: ansible_system == 'FreeBSD'
  tags:
   - freebsd

# we specifically opt for present over latest to improve performance
- name: Ensure tor is installed
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ tor_packages }}"
  # apt starts a tor client instance by default after installing the package
  # we do not need that
  notify:
    - stop-and-mask default tor instance
    - disable default tor instance FreeBSD
  tags:
   - openbsd
   - freebsd
   - debian
   - centos
   - fedora
   - install

- meta: flush_handlers

- include: configure.yml
  tags:
   - debian
   - centos
   - fedora
   - openbsd
   - freebsd

- include: linux_service.yml
  when: ansible_system == 'Linux'
  tags:
   - debian
   - centos
   - fedora

- include: openbsd_service.yml
  when: ansible_system == 'OpenBSD'
  tags:
   - openbsd

- include: freebsd_service.yml
  when: ansible_system == 'FreeBSD'
  tags:
   - freebsd
