---

- name: Check for min. ansible version requirement
  assert:
    that:
      - "{{ ansible_version.full | version_compare('2.3.1.0', '>=') }}"
    msg: "Your ansible version contains known vulnerabilities (CVE-2017-7481), please update to v2.3.1 or newer! Exiting."
  run_once: true
  delegate_to: 127.0.0.1
  tags:
    - always
    - ansible-version-check

- name: Check for local requirements
  shell: command -V tor && command -V openssl && command -V sort && command -V uniq && command -V wc && command -V cut && command -V xargs && command -V sed
  run_once: true
  become: no
  delegate_to: 127.0.0.1
  tags:
    - always

- name: Ensure we do not create more than two instances per IP
  assert:
    that:
      - "tor_ports | length > 0"
      - "tor_ports | length < 3"
    msg: "You can not run more than 2 instances per IP address, please update your tor_ports configuration."
  tags:
    - always

- name: Ensure preconditions for tor_dedicatedExitIP are met (number of public IPv4 or IPv6 addresses must be bigger than tor_maxPublicIPs)
  assert:
    that:
      - "tor_available_public_ipv4s|length > tor_maxPublicIPs or tor_available_public_ipv6s|length > tor_maxPublicIPs"
      - "tor_ExitRelay == True"
      - "tor_IPv6Exit == True"
      - "tor_IPv6 == True"
    msg: "You have to few public IPv4 or IPv6 addresses for the tor_dedicatedExitIP feature (or you did not enable exiting)"
  when: tor_dedicatedExitIP == True
  tags:
    - always

- include: fail_google_dns.yml
  when: tor_ExitRelay == True

- name: Set OS specific variables
  include_vars: "os_{{ ansible_os_family }}.yml"
  tags:
   - always

- include: ip-list.yml
  tags:
    - always

- include: apt_prepare.yml
  when: ansible_pkg_mgr == 'apt'
  tags:
   - debian
   - install

- include: rpm_prepare.yml
  when: ansible_os_family == 'RedHat'
  tags:
   - centos
   - fedora
   - install

- include: openbsd_prepare.yml
  when: ansible_system == 'OpenBSD'
  tags:
   - openbsd

- include: freebsd_prepare.yml
  when: ansible_system == 'FreeBSD'
  tags:
   - freebsd

# we specifically opt for present over latest to improve performance
- name: Ensure tor is installed
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ tor_packages }}"
  # apt starts a tor client instance by default after installing the package
  # we do not need that
  notify:
    - stop-and-mask default tor instance
    - disable default tor instance FreeBSD
  tags:
   - openbsd
   - freebsd
   - debian
   - centos
   - fedora
   - install

- meta: flush_handlers

- include: configure.yml
  tags:
   - debian
   - centos
   - fedora
   - openbsd
   - freebsd

- include: linux_service.yml
  when: ansible_system == 'Linux'
  tags:
   - debian
   - centos
   - fedora

- include: openbsd_service.yml
  when: ansible_system == 'OpenBSD'
  tags:
   - openbsd

- include: freebsd_service.yml
  when: ansible_system == 'FreeBSD'
  tags:
   - freebsd
