---

- name: Ensure EPEL repo is installed (yum)
  become: yes
  yum:
    name: epel-release
  when: ansible_pkg_mgr == 'yum'

- name: Ensure SELinux dependencies are installed
  become: yes
  package:
    name: libselinux-python,libsemanage-python
    state: present
  notify: re-gather facts

# re-gathering facts after installing libselinux-python
# is a workaround for https://github.com/ansible/ansible-modules-core/issues/2432
- meta: flush_handlers

- name: Ensure SELinux boolean (tor_can_network_relay) is set appropriately
  become: yes
  seboolean:
    name: tor_can_network_relay
    state: yes
    persistent: yes
  when: ansible_selinux.status == 'enabled'

- name: Ensure systemd drop-in folder is present (RPM)
  become: yes
  file:
    path: /etc/systemd/system/tor@.service.d
    state: directory
    owner: root
    mode: 0755

# this is needed for a small service file modification (allow it to write to /var/lib/tor-instances)
# without replacing the maintainer's file, for details see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
- name: Ensure service file drop-in is present (RPM)
  become: yes
  copy:
    src: local.conf
    dest: /etc/systemd/system/tor@.service.d/local.conf
    owner: root
    mode: 0644
  notify: systemctl daemon-reload

- meta: flush_handlers
