---

- hosts: relays
  vars:
    #tor_ContactInfo: relayor-example@example.com
    tor_signingkeylifetime_days: 90
    tor_nickname: "{{ ansible_hostname }}"
    tor_alpha: True
    tor_ExitRelay: True
    tor_ExitPolicy:
      - accept *:80
      - accept *:443
      - reject *:*
  roles:
   - nusenu.relayor
